In [1]:
import pandas as pd

# Sample DataFrame
data = {
    'Category': ['Electronics', 'Electronics', 'Furniture', 'Furniture', 'Apparel'],
    'Product': ['Laptop', 'Mouse', 'Chair', 'Table', 'Shoes'],
    'Sales': [1200, 100, 400, 300, 50]
}

df = pd.DataFrame(data)
df

      Category Product  Sales
0  Electronics  Laptop   1200
1  Electronics   Mouse    100
2    Furniture   Chair    400
3    Furniture   Table    300
4      Apparel   Shoes     50

In [2]:
grouped = df.groupby('Category')['Sales'].sum()

In [3]:
grouped

Category
Apparel          50
Electronics    1300
Furniture       700
Name: Sales, dtype: int64

In [4]:
grouped = df.groupby(['Category', 'Product'])['Sales'].sum()

In [5]:
grouped

Category     Product
Apparel      Shoes        50
Electronics  Laptop     1200
             Mouse       100
Furniture    Chair       400
             Table       300
Name: Sales, dtype: int64

In [6]:
summary = df.groupby('Category')['Sales'].agg(['sum', 'mean', 'count']).reset_index()
summary

              sum   mean  count
Category
Apparel        50   50.0      1
Electronics  1300  650.0      2
Furniture     700  350.0      2