In [3]:
import pandas as pd
df = pd.read_csv('../model_logs.csv')
df

,Date,Prompt,Response Time (ms),Tokens Generated
0,2023-01-01,Write a sci-fi short story set in 2050,56,464
1,2023-01-02,Generate a creative story about space travel,48,351
2,2023-01-03,Write a poem about the future of technology,69,276
3,2023-01-04,Draft a speech for a graduation ceremony,78,381
4,2023-01-05,Write a sci-fi short story set in 2050,63,487
...,...,...,...,...
95,2023-04-06,Describe the impact of AI on healthcare,98,263
96,2023-04-07,Explain quantum computing in simple terms,100,437
97,2023-04-08,Generate a creative story about space travel,45,309
98,2023-04-09,Draft a speech for a graduation ceremony,56,500
99,2023-04-10,Write a poem about the future of technology,76,302

In [4]:
### Exporting To Excel

In [6]:
df.to_excel('data.xlsx', index=False)

In [ ]:
pass

Exporting To Json

In [7]:
df.to_json('data.json', orient='columns')

In [8]:
df.to_json('chat_data.json1', orient='records', lines=True)

In [10]:
import sqlite3
conn = sqlite3.connect('chat_data.db')
df.to_sql('chat_data.db', conn, if_exists='replace', index=False)
conn.close()

In [11]:
import yaml
data_dict = df.to_dict(orient='records')
data_dict

ModuleNotFoundError: No module named 'yaml'