In [1]:
import pandas as pd

# Sample DataFrame
data = {
    'OrderID': [1001, 1002, 1003, 1004],
    'OrderDate': ['2023-11-01', '2023-11-02', '2023-11-03', '2023-11-04'],
    'Sales': [250, 400, 150, 300]
}
df = pd.DataFrame(data)
df

   OrderID   OrderDate  Sales
0     1001  2023-11-01    250
1     1002  2023-11-02    400
2     1003  2023-11-03    150
3     1004  2023-11-04    300

In [2]:
df.dtypes

OrderID       int64
OrderDate    object
Sales         int64
dtype: object

In [3]:
df['OrderDate'] = pd.to_datetime(df['OrderDate'])
df.dtypes

OrderID               int64
OrderDate    datetime64[ns]
Sales                 int64
dtype: object

In [4]:
df.set_index('OrderDate', inplace=True)

In [5]:
df

            OrderID  Sales
OrderDate
2023-11-01     1001    250
2023-11-02     1002    400
2023-11-03     1003    150
2023-11-04     1004    300

In [6]:
df['Year'] = df.index.year
df['Month'] = df.index.month
df['Day'] = df.index.day
df

            OrderID  Sales  Year  Month  Day
OrderDate
2023-11-01     1001    250  2023     11    1
2023-11-02     1002    400  2023     11    2
2023-11-03     1003    150  2023     11    3
2023-11-04     1004    300  2023     11    4

In [7]:
weekly_sales = df['Sales'].resample('W').sum()
weekly_sales

OrderDate
2023-11-05    1100
Freq: W-SUN, Name: Sales, dtype: int64

In [8]:
df = pd.read_csv('website_traffic_data_datetime.csv')
df

      Source   SessionDuration   Visits         Date
0     Direct             21.49       15   2023-01-01
1     Social             28.67      375   2023-01-02
2     Social             13.01       57   2023-01-03
3    Organic             25.54      399   2023-01-04
4       Paid             28.84      183   2023-01-05
..       ...               ...      ...          ...
95    Social             10.07      281   2023-04-06
96      Paid             19.18      330   2023-04-07
97  Referral              8.80       28   2023-04-08
98    Direct              9.12      410   2023-04-09
99      Paid              9.08      378   2023-04-10

[100 rows x 4 columns]

In [11]:
df['OrderDate'] = pd.to_datetime(df['OrderDate'])
df = df.rename(columns={'OrderDate': 'Date'})

KeyError: 'OrderDate'